@import "base/variables";

.page-title{
  color:#33B3FF;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.start_page{
   background: url(http://unsplash.it/1500/1000?image=885&blur=50);
   background-size: cover;
   height: 190vh;
}
